@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", "Roboto", sans-serif;
    border: 0px solid green;
    color: white;
}

body{
    overflow-x: hidden;
}

header{
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    justify-content: space-around;
    align-items: center;
    background-color: #0e1117;
}

nav{
    width: auto;
}

.list-nav{
    display: flex;
    gap: 80px;
}

/*Conteudo*/

.container:only-child{
    height: 100vh;
}

.container{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container > div{
    height: 100vh;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    /*background: linear-gradient(200deg, rgba(255,0,0,.8), rgba(255, 251, 0, 0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
    /*background: linear-gradient(110deg, #688B58 25%, #2FFF2F 50%, #086788 75%,#0e1117fb 100%);*/
    background: linear-gradient(70deg, #537245, #0e1117fb);
}

.sobre{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: #2F4F2F;
}

.sobre *{
    display: flex;
}

.texto{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sobre h1{
    display: flex;
}

.sobre p{
    display: inline-block;
    width: 500px;
}

.sobre h1,p{
    text-indent: 10px;
}

.sobre img{
    float: right;
}

.projects{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3f663f;
}

.galeria{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.branco{
    display: flex;
    width: 22%;
    height: 30vh;
    border-radius: 20px;
    background-color: #0e1117fb;
}

.branco p{
    position: relative;
    text-align: center;
    align-self: center;
    text-indent: 0px;
}

.projects h2{
    margin-bottom: 80px;
}

.animacao-aparecer{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 22px;
    opacity: 0%;
    width: 100%;
    height: 100%;
}

/*skills*/

.animacao-aparecer:hover{
    animation: opacity 1.5s linear 0.2s 1 normal forwards;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F4F2F;
}

.skills a{
    width: 60px;
}

i{
    width: 60px;
}

.content-skill-box{
    display: flex;
    width: 99px;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.passar{
    display: flex;
    background-color: gray;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
}

.fa-html5, .fa-css3-alt{
    padding-left: 9px;
}

.fa-python, .fa-git-alt{
    padding-left: 6px;
}

.passar .content{
    width: 100%;
    position: absolute;
    z-index: 5;
    padding-left: 85px;
    padding-right: 5px;
    transition: 0s ease-in-out;
    opacity: 0;
}

.content p{
    line-height: 21px;
}

.passar:hover .content{
    animation: slidein 1s ease-in-out 0s reverse forwards;
}

.ht:hover{
    animation: backGround 1s ease-in-out 0s normal forwards;
}
.css:hover{
    animation: backGround 1s ease-in-out 0s normal forwards;
}
.py:hover{
    animation: backGround 1s ease-in-out 0s normal forwards;
}
.gt:hover{
    animation: backGround 1s ease-in-out 0s normal forwards;
}
.g:hover{
    animation: backGround 1s ease-in-out 0s normal forwards;
}

/*Footer*/

footer{
    height: 10vh;
    background-color: #0e1117fb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 100%;
}

footer p{
    font-size: 14px;
    text-indent: 0;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.links i{
    width: 44px;
    height: 44px;
}

.links .fa-github{
    width: 48px;
    height: 48px;
    gap: 10px;
}

.links a{
    width: 44px;
    height: 44px;
}


/*Animações*/

@keyframes slidein {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
        transform: translate(100%);
    }
}


@keyframes opacity{
    from{
        opacity: 0%;
    }

    50%{
        letter-spacing: 10px;
        opacity: 60%;
    }

    to{
        letter-spacing: 1px;
        opacity: 100%;
    }
}

@keyframes wow {
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-200px);
    }
}

@keyframes backGround {
    from{
        transform: translateX(0);
    }

    to{
        width: 625px;
        transform: translateX(-275px);
    }
}